/* About.scss */

#about {
  margin-top: 10px;
  border-radius: 10px;

  .about-container {
    margin: 0 auto;
    padding: 20px;
    text-align: justify;

    &__heading {
      font-size: 24px;
      color: #333;
      &__img{
        width: 50%;
        border-radius: 200px;
        display: flex;
        margin: 0 auto;
      }
    }

    &__subheading {
      font-size: 18px;
      color: #555;
    }

    &__paragraph {
      font-size: 16px;
      color: #777;
      line-height: 1.5;
      margin-bottom: 20px;
    }

    &__highlighted-features {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 20px;

      &__feature {
        flex-basis: calc(50% - 10px);
        margin-right: 10px;
        margin-bottom: 20px;
        padding: 10px;
        background: #f0f0f0;

        &--kreatywnosc {
          background: #ffd700;
        }

        &--swiezosc {
          background: #00ff00;
        }

        &--indywidualne-podejscie {
          background: #00ced1;
        }

        &--wygoda {
          background: #ff4500;
        }

        &__heading {
          font-size: 18px;
          color: #333;
        }

        &__description {
          font-size: 16px;
          color: #555;
        }
      }
    }

    &__signature {
      font-size: 14px;
      color: #888;
      margin-top: 20px;
    }
  }
}