@import "src/Theme/theme";

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: all 0.3s ease; /* Dodajemy animację dla płynnego efektu sticky */
}

.centered-div {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sticky {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
}

.img{
  border-radius: 10px;
  height: 200px;
}

.paper{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    margin-top: 20px;
  }
}

.scroll-carousel-viewport {
  border-radius: 10px;
  height: 200px;
}

.footer {
  height: 80px;
  margin: 20px 0;
  background-color: $secondary;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: $main;
}

.mid {
  margin: 0 auto;
  text-decoration: none;
}